.join{
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    
    gap: .5rem;
    margin-top: .75rem;
}

.join-input{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    color: white;
    width: 100%;
    padding: .25rem;
    padding-left: 1rem;
    background-color: var(--bg-card);
    border: 1px solid var(--border-warm);
    outline: none;
    border-radius: 4px;
}
.join-input:focus{
    border: 1px solid var(--gold-dim);
    box-shadow: 0px 0px 3px var(--gold-dim);
}

.join-button{
    font-family: 'PT Serif', serif;
    color: var(--gold-dim);
    font-size: 1rem;
    height: 100%;
    width: 80%;
    padding: 1rem 1.5rem;
    background-color: var(--bg-card);
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 3px var(--gold-dim);
    transition: ease-in-out .3s;
  }
  .join-button:hover{
    cursor: pointer;
    background-color: var(--gold-dim);
    color: var(--bg);
    box-shadow: 0px 0px 8px var(--gold-dim) ;
  }